
@model Application.Rooms.Commands.AddRoom.AddRoomCommand;

<h1 class="text-center">Add Room</h1>
<form method="post" style="width: 30%;margin: auto">
  <div class="form-group">
    <input name="Name" type="Text" class="form-control" id="Name" placeholder="enter course name">
  </div>
  <div class="text-center">
    <button type="submit" class=" btn btn-primary">Submit</button>
  </div>
</form>

